<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="Dynamicweb 9" value="https://www.myget.org/F/dynamicweb-packages/api/v3/index.json" />
    </packageSources>
</configuration>