@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog.Export
@inherits ViewModelTemplate<ExportFileViewModel>
<div class="panel-body">
    <p>The exporting failed due to the following error:</p>

    <p>@Model.Exception</p>
</div>